
*{
  box-sizing: border-box;
}

body{
  background-color: #E5E5E5;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container{
  max-width: 1171px;
  margin: 0 auto;
  padding-top: 60px;
}

.row{
  display: flex;
  justify-content: space-between;
}

.main{
  width: 870px;
  height: 200px;
  background-color:aqua;
}

.sidebar{
  width: 271px;
  height: 200px;
  background-color: green;
}


/****************Card*****************/

.card{
  width: 270px;
  background-color:#fff;
  position: relative;
}

.card__badges{
  top:10px;
  left:15px;
  right: 15px;
  position: absolute;
  display: flex;

}

.card__badges> * + *{
  margin-left: 10px;
}

.card__badge{
  height: 22px;
  padding: 0 10px;
  border-radius: 4px;
  background:#525252;
  font-size: 14px;
  line-height: 22px;
  color:#000;
}

.card__badge--class{
  background-color:#FFCF26;
}
.card__badge--credit{
background-color:#11BE75;
}
.card__img{
}

.card__content{
  padding: 20px 15px 20px;
}

.card__title{
  
  margin-bottom: 20px;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  line-height: 1.16px;
  color:#000;
}
.card__term{
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  color:#000;
  margin-bottom: 10px;
  margin-top: 10px;
}
.card__metro{
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  color:#000;
  margin-bottom: 10px;
}

.card__metro::before{
  content:"";
  display: inline-block;
  margin-right: 10px;
  height: 11px;
  width: 16px;
  vertical-align: baseline;
  background-image: url("/assets/icons/Moscow_Metro\ 1.svg");
  background-repeat:no-repeat ;
  background-size: initial;

}
.card__address{
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  color:#777;

}